/* fonts */
@font-face {
  font-family: "morabba";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/morabba/Morabba-UltraLight.woff") format("woff");
}

@font-face {
  font-family: "morabba";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/morabba/Morabba-Light.woff") format("woff");
}

@font-face {
  font-family: "morabba";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/morabba/Morabba-Medium.woff") format("woff");
}

@font-face {
  font-family: "morabba";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/morabba/Morabba-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "morabba";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/morabba/Morabba-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "morabba";
  font-style: normal;
  font-weight: 850;
  src: url("/fonts/morabba/Morabba-Black.woff") format("woff");
}

@font-face {
  font-family: "morabba";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/morabba/Morabba-Heavy.woff") format("woff");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-prev {
  @apply !text-default-900;
}

.swiper-button-next {
  @apply !text-default-900;
}

* {
  font-family: morabba !important;
}
