@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

.container-custom {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rounded-box {
  width: 120px;
  height: 180px;
  background: lightgray;
  border-radius: 60px;
  position: absolute;
}

/* استایل متن دایره‌ای */
.circle-text {
  position: absolute;
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.circle-text span {
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  transform-origin: center;
}

/* چرخش حروف به دور دایره */
.circle-text span:nth-child(1) { transform: rotate(0deg) translate(100px) rotate(0deg); }
.circle-text span:nth-child(2) { transform: rotate(18deg) translate(100px) rotate(-18deg); }
.circle-text span:nth-child(3) { transform: rotate(36deg) translate(100px) rotate(-36deg); }
.circle-text span:nth-child(4) { transform: rotate(54deg) translate(100px) rotate(-54deg); }
.circle-text span:nth-child(5) { transform: rotate(72deg) translate(100px) rotate(-72deg); }
.circle-text span:nth-child(6) { transform: rotate(90deg) translate(100px) rotate(-90deg); }
.circle-text span:nth-child(7) { transform: rotate(108deg) translate(100px) rotate(-108deg); }
.circle-text span:nth-child(8) { transform: rotate(126deg) translate(100px) rotate(-126deg); }
.circle-text span:nth-child(9) { transform: rotate(144deg) translate(100px) rotate(-144deg); }
.circle-text span:nth-child(10) { transform: rotate(162deg) translate(100px) rotate(-162deg); }
.circle-text span:nth-child(11) { transform: rotate(180deg) translate(100px) rotate(-180deg); }
.circle-text span:nth-child(12) { transform: rotate(198deg) translate(100px) rotate(-198deg); }
.circle-text span:nth-child(13) { transform: rotate(216deg) translate(100px) rotate(-216deg); }
.circle-text span:nth-child(14) { transform: rotate(234deg) translate(100px) rotate(-234deg); }
.circle-text span:nth-child(15) { transform: rotate(252deg) translate(100px) rotate(-252deg); }
.circle-text span:nth-child(16) { transform: rotate(270deg) translate(100px) rotate(-270deg); }
.circle-text span:nth-child(17) { transform: rotate(288deg) translate(100px) rotate(-288deg); }
.circle-text span:nth-child(18) { transform: rotate(306deg) translate(100px) rotate(-306deg); }
.circle-text span:nth-child(19) { transform: rotate(324deg) translate(100px) rotate(-324deg); }
.circle-text span:nth-child(20) { transform: rotate(342deg) translate(100px) rotate(-342deg); }
